<h2><%= @item.title %></h2>

<% booking = @item.bookings.select { |booking| booking.user_id == current_user.id } %>
<% if booking.count != 0 || @item.user == current_user %>
    <p><%= @item.description %></p>
<% else %>
    <p>***** hidden filed *****</p>
<% end %>

<% if policy(@item).edit? %>
    <%= link_to "Edit", edit_item_path%>
<% end %>
<% if policy(@item).destroy? %>
    <%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<% if current_user != @item.user %>
    <% if booking.count.zero? %>
        <%= link_to "Apply", new_item_booking_path(@item) %>
    <% else %>
        <%= "Already Applied" %>
    <% end %>
<% end %>